/* Core styles */
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--bodyText);
}

:root {
    --white: #fff;
    --grey: #d3d3d3;
    --clay: #dd695f;
    --black: #000;
}

/* Utility classes */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* Primary header */
.logo {
    margin: 2rem;
}